<section class="schema">
        <div class="container">
            <h2>Как заказать услугу</h2>
           <div class="row">
               <div class="col-md-12">
                   <div class="schema-img"></div>
                   <ul>
                       <li>
                           <b>1</b>
                           <p>Вы делаете<br>
заказ</p>
                       </li>
                       <li>
                           <b>2</b>
                           <p>Уточняем удобное<br> время приезда</p>
                       </li>
                       <li>
                           <b>3</b>
                           <p>Приезжает<br>
мастер</p>
                       </li>
                       <li>
                           <b>4</b>
                           <p>Выполняет<br>
работы</p>
                       </li>
                       <li>
                           <b>5</b>
                           <p>Оплачиваете<br>
услугу</p>
                       </li>
                       <li>
                           <b>6</b>
                           <p>Получаете<br>
гарантию</p>
                       </li>
                   </ul>
               </div>
           </div>
        </div>
    </section>