<section class="situation" id="situation">
       <div class="container">
        <h2>У каждого из нас хоть раз в жизни <br>
возникала ситуация, когда:</h2>
           <div class="row">
               <div class="col-md-4">
                    <img src="{{ 'assets/img/sit1.png'|theme }}" alt="">
                    <p>У вас течет кран, и починить его нет возможности, а мужу все некогда?
<span>Вы устали отмывать сантехнику от ржавчины капающей воды?</span></p>
                </div>
               <div class="col-md-4">
                    <img src="{{ 'assets/img/sit2.png'|theme }}" alt="">
                    <p>У входной двери заедает замок, и вы боитесь, что однажды не сможете попасть к себе домой.
<span>Если такое случится, то дело обойдется выбитой дверью и дорогостоящим ремонтом.</span></p>
                </div>
               <div class="col-md-4">
                    <img src="{{ 'assets/img/sit3.png'|theme }}" alt="">
                    <p>Текущий унитаз действует на нервы так, что вы не можете спать ночью.
<span>Поздравляем! В конце месяца вы получите счет за воду, которой вы не пользовались.</span></p>
                </div>
               <div class="col-md-4">
                    <img src="{{ 'assets/img/sit4.png'|theme }}" alt="">
                    <p>У вас не работает розетка? Перетерся шнур на утюге? Щиплется током стиральная машина?
<span>Как результат может перегореть внутренняя проводка, и дело закончится масштабным ремонтом.</span></p>
                </div>
               <div class="col-md-4">
                    <img src="{{ 'assets/img/sit5.png'|theme }}" alt="">
                    <p>Вы устали от постоянных сквозняков от пластиковых окон?
<span>Болеете вы и вся ваша семья, включая домашних животных и комнатные растения.</span></p>
                </div>
            </div>
       </div>
   </section>