<div class="stufs">
        <div class="container">
            <div class="row">
                <ul>
                    <li>
                        <img src="{{ 'assets/img/materialy.svg'|theme }}" alt="">
                        <p>Высокая скорость<br> работы</p>
                    </li>
                    <li>
                        <img src="{{ 'assets/img/zakaz.svg'|theme }}" alt="">
                        <p>Широкий спектр<br> услуг</p>
                    </li>
                    <li>
                        <img src="{{ 'assets/img/zamer.svg'|theme }}" alt="">
                        <p>Приезжаем в удобное<br> время</p>
                    </li>
                    <li>
                        <img src="{{ 'assets/img/ceny.svg'|theme }}" alt="">
                        <p>У нас лучшие цены!</p>
                    </li>
                    <li>
                        <img src="{{ 'assets/img/guarant.svg'|theme }}" alt="">
                        <p>Гарантия на все виды<br> работ</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>