<section class="testimonials" id="testimonials">
        <div class="container">
            <h2 class="wow fadeInUp">Отзывы наших клиентов</h2>
            <div class="slider slider-for">
                <div>
                    <p>Выражаю свою благодарность компании "Мастер на час" за ее высококвалифицированную работу при установке окон и жалюзи в моем доме. Как все слаженно, как все быстро и профессионально было сделано. Спасибо большое ребятам монтажникам Валерию и Алексею, руки просто золотые, ПРОФИ в своём деле, и установили как окна, так и жалюзи на 5+</p>
                    <span><b>Ольга Рыбкина</b>
            г. Москва</span>
                </div>
                <div>
                    <p>Обычно, если все прошло хорошо и нет нареканий никто не тратит дополнительное время для того чтобы оставить положительный отзыв. Я тоже не собирался, но когда сегодня заехал проведать свой загородный дом после ремонта, то был приятно удивлён преображением своей теплой террасы в чистовой отделке, с панорамными окнами и стильными жалюзи от компании Мастер на час.</p> <span><b>Максим Коношенко</b>
            г. Мытищи</span></div>
                <div>
                    <p>Решила потратить немного времени на свой отзыв, надеюсь он будет полезен для других. Цена / качество на первом месте. Весь процесс дистанционного управления доставкой и установкой по телефону был очень комфортным и отличался завидным терпением коллег из компании Мастер на час. С уверенностью могу сказать, что цена, качество и сервис компании при остеклении нашей квартиры с установкой современных жалюзи меня устроил.</p><span><b>Марина Лейзерович</b>
г. Москва</span></div>
                <div>
                    <p>Воспользовался услугами компании "Мастер на час" при остеклении своего коттеджа с солнцезащитными жалюзи. Работы были выполнены в срок и с отличным качеством. Родственники решили установить рулонные шторы - рекомендовал обратиться в компанию "Мастер на час", так как установкой и окон, и жалюзи в своем доме остался очень доволен. Тепло и уютно. Вот уже три года никаких нареканий.</p><span><b>Афанасий Рыбкин</b>
г. Москва</span></div>
                <div>
                    <p>В компанию "Мастер на час" обращаюсь уже не в первый раз. В прошлом году заказывала 2 окна и балконную дверь в квартиру, а недавно установила стильные жалюзи на пластиковые окна. Сделали дополнительную скидку за повторное обращение, что очень порадовало. И вообще я осталась очень довольна работой компании, начиная от менеджера и заканчивая монтажной бригадой. Спасибо компании "Мастер на час" за мои чудесные окна и жалюзи.</p><span><b>Татьяна Мерц</b>
г. Ногинск</span></div>
            </div>
            <div class="slider slider-nav">
                <div class="c-reviews"><img src="{{ 'assets/img/1.JPG'|theme }}" alt=""></div>
                <div class="c-reviews"><img src="{{ 'assets/img/2.JPG'|theme }}" alt=""></div>
                <div class="c-reviews"><img src="{{ 'assets/img/3.JPG'|theme }}" alt=""></div>
                <div class="c-reviews"><img src="{{ 'assets/img/4.JPG'|theme }}" alt=""></div>
                <div class="c-reviews"><img src="{{ 'assets/img/5.JPG'|theme }}" alt=""></div>
            </div>
        </div>
    </section>
    <div id="map"></div>