==
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Мастер на час</title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=1170" />
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="{{ 'assets/css/slick.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/slick-theme.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/outdatedbrowser.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/bootstrap-datetimepicker.min.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/style.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/media.css'|theme }}">
    {% styles %}
    <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>

{% page %}

    <script src="{{ 'assets/js/jquery-3.6.3.js'|theme }}"></script>
    <script src="{{ 'assets/js/jquery-3.6.3.min.js'|theme }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ 'assets/js/moment-with-locales.min.js'|theme }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.1.4/js/bootstrap-datetimepicker.min.js"></script>
    <script src="{{ 'assets/js/jqBootstrapValidation.js'|theme }}"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script src="{{ 'assets/js/wow.min.js'|theme }}"></script>
    <script src="{{ 'assets/js/jquery.maskedinput.min.js'|theme }}"></script>
    <script src="{{ 'assets/js/slick.min.js'|theme }}"></script>
    <script src="{{ 'assets/js/script.js'|theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/outdatedbrowser.js'|theme }}"></script>
    <script>
    outdatedBrowser({
        bgColor: '#f25648',
        color: '#ffffff',
        lowerThan: 'transform',
        languagePath: 'lang/en.html'
    })
    </script>
    {% framework extras %}
    {% scripts %}
</body>

</html>